input.ng-dirty.ng-invalid{
    border: 2px solid red;
}

input.ng-dirty.ng-valid{
    border: 2px solid green;
}

form.ng-invalid button{
    pointer-events: none;
    background-color: darkgrey;
    opacity: 0.8;
}

li {
    list-style: none;
}